body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  text-align: center;
  height: 100vh;
  font-family: Arial, sans-serif;
}
ul {
  list-style: none;
}
#taskList li {
  background-color: #f4f4f4;
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 5px;
  width: 400px;
  display: flex;
  justify-content: space-between;
}
#object {
  height: 30px;
  width: 300px;
  transition: 0.5s ease;
  outline: none;
}
#object:hover {
  border: 2px rgb(239, 184, 83) solid;
}
#btn {
  width: 40px;
  height: 30px;
}
